@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiCircularProgress-root
{
    color: #fff;
    position: absolute;
    left: -1.5px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
  }

  .item {
    flex: 0 0 auto;
    margin-right: 16px;
  }

.scroll-container::-webkit-scrollbar {

    height: 5px;
    background: none;
  }

  .scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #3a47506f;
    border-radius: 10px;
  }

.YouTube{
    display: absolute;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance : none;
}

.tag{
    font-weight: lighter;
}

.vidcon {
	height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.vid{
    overflow-clip-margin: content-box;
}

.register{
    animation: drop .1s;
}

@keyframes drop {
    0% {
      transform: translateX(10%);

    }
    100% {
      transform: translateX(-50%);
      transform: translateX(0%);
    }
}
